extends layout
html
	head
		title Un poco sobre...
		link(rel='stylesheet', href='../stylesheets/style.css')
		include style.css
		style(type="text/css")

block content
	body
		h1 
			img.image(src="https://image.ibb.co/h72Oop/massobre.png", style="width: 100%")
		.row
		.col-md-4.col-sm-6.col-xs-12
			.panel.panel-default
				.panel-heading El autor
				.panel-body Mi nombre es Juan Diego Sique Martínez. Estudio actualmente la carrera de Computer Science. Entre mis intereses están la música barroca, el anime, los manga, la matemática teórica y la historia natural. Me gusta mucho desarrollar software y conocer nuevas tecnologías.
				center
					img.image(src="https://preview.ibb.co/jQtXyp/1532488995312.png" style="width: 400px")
				.panel-body Órgano Tubular del Santuario de Guadalupe, Guatemala. Su Servidor, es el Maestro de Capilla y organista titular de dicho templo.
		.col-md-4.col-sm-6.col-xs-12
			.panel.panel-success
				.panel-heading El proyecto
				.panel-body El proyecto consiste en realizar un acortador de URL. La idea del mismo es implementar un API REST, desarrollar una tecnología SERVERLESS, así como utilizar tecnologías de bases de datos y comunicarlas a través de Internet.
					h2 El logo
					.panel-body El logo utiliza el color bronce, resaltando que este elemento de la tabla periódica representado por Cu, es uno de los materiales más utilizados en el área de la tecnología al ser un excelente conductor y abundante en el planeta. Asímismo el cobre se encuentra en gran porción de los elementos vivos del planeta.
					center
						img.image(src="https://preview.ibb.co/fPST4U/logo_nano2.png" style="height: 100px")
					h2 ¿Por qué nano?
					.panel-body El prefijo de ingeniería nano hace referencia a una billonésima parte, es decir una pequeñísima porción de algo. Es justo la palabra que identifica mejor a nuestra aplicación ya que se encarga de acortar severamente las URL ingresadas.
					h2 El Nautilus y φ
					.panel-body  El Nautilus es un molusco que pertenece familia de los cefalópodos. A diferencia de los pulpos no posee brazos, únicamente tentáculos, 90 para ser exacto. El número 90, al ser descompuesto en factores sucesivos queda 9 y 10, justo los números que se relacionan con la palabra nano (1/10 elevado a la 9 potencia).
					.panel-body  El Nautilus es una de tantas especies de seres vivos en el mundo cuyo cuerpo representa una propiedad matemática representada a través de φ. Phi (φ) es una letra griega que representa al número aúreo, llamada también la razón dorada. El valor de este número es aproximadamente 1.618033988749894848. Es usado por nuestros sistemas para proveerte el código reducido que representa la URL ingresada.
		.col-md-4.col-sm-6.col-xs-12
			.panel.panel-primary
				.panel-heading El curso
				.panel-body El curso se llama Programación 3. Está orientada principalmente a las tecnologías novedosas e innovadoras de reciente publicación. 